.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  display: flex;
  max-width: 840px;
  padding: 24px;
  background-color: #fff;
}

.card-image {
  position: relative;
  background-image: url('./assets/img-house.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  margin-right: 24px;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  background-image: url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.card-content {
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}

.plus-badge {
  display: inline-block;
  padding: 1px 8px;
  margin-right: 6px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4286;
  color: #fff;
  background-color: #92174d;
  text-transform: uppercase;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7d858f;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate::before {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.property-rate strong {
  display: inline-block;
  color: #151b26;
  font-weight: 400;
}

.property-rate span {
  color: #7d858f;
}

.card-title {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #151b26;
  margin-bottom: 16px;
}

.property-detail {
  font-size: 14px;
  line-height: 1.4286;
  color: #7d858f;
}

.property-detail span {
  font-size: 14px;
  line-height: 1.143;
}

.property-detail dd span::after {
  content: '·';
  margin: 0 6px;
}

.property-detail dd span:last-child::after {
  content: '';
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}
